@charset "UTF-8";
/********************************************************/
/*                      МИКСИНГИ                        */
/********************************************************/
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/Proxima nova/12093.ttf");
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/Proxima nova/11096.otf");
}
@font-face {
  font-family: "BigCaslonMedium";
  src: url("../fonts/Big Caslon Medium.ttf");
}
/********************************************************/
/*                         СБРОС                        */
/********************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;
  vertical-align: baseline;*/
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 13px/16px "ProximaNovaRegular", "DINNextCYR-Light", Arial, Tahoma, sans-serif;
  color: #000;
}

ol,
ul, li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover {
  color: #192d37;
  text-decoration: none;
}

input {
  -webkit-appearance: none;
}

/********************************************************/
/*                    ОСНОВНЫЕ СТИЛИ                    */
/********************************************************/
.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.menu {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  border-bottom: 2px solid #c0cacc;
  background: #f6f2e6;
}
.menu .menu__block-row {
  display: grid;
  width: 100%;
}
.menu .square {
  height: 8.33vw;
  border-bottom: 2px solid #c0cacc;
}
.menu .menu__items {
  height: 8.33vw;
  border-bottom: 2px solid #c0cacc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2em;
}
.menu .menu__items .menu__element-contacts {
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.menu .menu__items .menu__element-contacts .element__paragraph {
  font-weight: bold;
  text-align: right;
}
.menu .slash-block {
  height: calc(8.33vw * 0.35);
  position: relative;
}
.menu .menu__block-left .menu__block-row {
  grid-template-columns: 8.33vw 1fr;
}
.menu .menu__block-left .square {
  border-right: 2px solid #c0cacc;
}
.menu .menu__block-left .slash-block {
  border-right: 2px solid #c0cacc;
  background-image: linear-gradient(to bottom left, transparent 48%, #c0cacc, transparent 51%);
  background-repeat: no-repeat;
}
.menu .menu__block-right .menu__block-row {
  grid-template-columns: 1fr 8.33vw;
}
.menu .menu__block-right .square {
  border-left: 2px solid #c0cacc;
  background: #c2cccf;
}
.menu .menu__block-right .slash-block {
  border-left: 2px solid #c0cacc;
  background-image: linear-gradient(to bottom right, transparent 48%, #c0cacc, transparent 51%);
  background-repeat: no-repeat;
}
.menu .menu__block-center {
  display: flex;
  align-items: center;
  border-right: 2px solid #c0cacc;
  border-left: 2px solid #c0cacc;
}
.menu .menu__block-center .menu__element-logo {
  padding: 0 2em;
}
.menu .menu__block-center .menu__element-logo .logo {
  width: 100%;
}
.menu .instagram__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu_instagram {
  width: 30%;
  display: block;
  color: #33464e;
}
.menu .menu__link:hover {
  color: #85a0aa;
}

.page__pagers {
  border-left: 2px solid #c0cacc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  color: #434f5d;
}
.page__pagers .pagers_number {
  font-size: 2em;
  font-family: "BigCaslonMedium";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  right: -2px;
}
.page__pagers .pagers__list .pager__element {
  margin: 2em auto;
  width: 5px;
  height: 5px;
  background: #8aa3b5;
  border-radius: 50%;
}
.page__pagers .pagers__list .active {
  background: #434f5d;
}

.header__slider {
  max-height: 710px;
  background: #f6f2e6;
  display: grid;
  grid-template-columns: 6fr 5fr 8.33vw;
  overflow: hidden;
  border-bottom: 2px solid #c0cacc;
}
.header__slider .slider__wrap {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.header__slider .slider__wrap img {
  width: 100%;
  height: 100%;
  display: block;
}
.header__slider .header-slider__description {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.header__slider .header-slider__description .header-slider__title {
  font-weight: bold;
  padding: 2em;
  text-align: left;
  display: block;
  width: 100%;
  color: #192d37;
}
.header__slider .header-slider__description .header-slider__btn {
  border: 1px solid #c0cacc;
  border-radius: 0;
  background: #fff;
  padding: 12px 20px;
  display: inline-block;
}
.header__slider .header-slider__description .header-slider__btn:hover {
  background: #434f5d;
  border: 1px solid #000;
  color: #000;
  color: #fff;
}
@media (max-width: 1024px) {
  .header__slider {
    grid-template-columns: 1fr 1fr 8.33vw;
    max-height: 100%;
  }
  .header__slider .slider__wrap {
    grid-column: 1/span 2;
  }
  .header__slider .page__pagers {
    grid-column: 3;
    grid-row: 1/span 2;
  }
  .header__slider .header-slider__description {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}

.aboutme__wrap {
  border-bottom: 2px solid #c0cacc;
}

.section__title {
  display: block;
  position: relative;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #192d37;
  padding-left: 8.33vw;
}
.section__title:before {
  content: "";
  display: block;
  margin: 40px auto;
  width: 2px;
  background: #c0cacc;
  height: 90px;
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr 8.33vw;
}
.aboutme .aboutme__section-main {
  grid-column: 1/span 2;
  border-bottom: 2px solid #c0cacc;
}
.aboutme .aboutme__section-main .aboutme__left-block {
  width: 70%;
  float: left;
  padding: 5% 5% 0 15%;
}
.aboutme .aboutme__section-main .aboutme__left-block .aboutme__paragraph {
  margin-bottom: 2em;
  line-height: 2em;
  font-size: 16px;
  color: #363636;
}
.aboutme .aboutme__section-main .aboutme__right-block {
  width: 30%;
  padding: 3.5em;
  float: left;
}
.aboutme .aboutme__section-main .aboutme__right-block img {
  width: 100%;
}
.aboutme .aboutme__section-pagers {
  grid-column: 3;
  grid-row: 1/span 2;
}
.aboutme .aboutme__section-footer {
  grid-column: 1/span 2;
  grid-row: 2;
}
.aboutme .box.aboutme__section-footer {
  display: grid;
  grid-template-columns: 8.33vw 1fr 1fr 1fr;
  text-align: center;
}
.aboutme .box.aboutme__section-footer .slash-block {
  height: 8.33vw;
  max-height: 160px;
  background-image: linear-gradient(to bottom left, transparent 50%, #c0cacc, transparent 51%);
  background-repeat: no-repeat;
}
.aboutme .box.aboutme__section-footer .section-footer__element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #c0cacc;
  font-family: "ProximaNovaBold";
  font-size: 20px;
  color: #182d37;
}
.aboutme .box.aboutme__section-footer .section-footer__element span {
  margin: 0 10px;
  font-size: 35px;
  font-family: "BigCaslonMedium";
  position: relative;
  top: -5px;
}

.slash-block-mobile {
  display: none;
}

.section__space-left {
  width: 8.33vw;
  float: left;
}

.section__content {
  width: 83.4vw;
  float: left;
}

.steps__wrap {
  background: url("../images/books.jpg") no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 8.33vw;
  height: 100vh;
}
.steps__wrap .step__blocks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.steps__wrap .step__blocks .step__block {
  width: 25%;
  padding: 50px;
  margin-top: 8em;
  padding: 1%;
}
.steps__wrap .step__blocks .step__block .circle {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  max-width: 260px;
  margin: 0 auto;
}
.steps__wrap .step__blocks .step__block .circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.steps__wrap .step__blocks .step__block .circle span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 30px;
  background: #fff;
  z-index: 1;
  overflow: hidden;
  border-radius: 50%;
  font-family: "ProximaNovaBold";
  font-size: 1.4em;
  line-height: 30px;
}
.steps__wrap .step__blocks .step__block .circle:hover:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  border: 1px solid #ccc;
  display: block;
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 16px 0px #fff;
}
.steps__wrap .steps__pages .pager__element {
  background: #fff;
}
.steps__wrap .steps__pages .active {
  background: #434f5d;
}

.sale__wrap {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.sale__wrap .sale__left {
  width: 58.33%;
  background: #748f9a url("../images/sale2.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}
.sale__wrap .sale__left .sale__content {
  width: 70%;
  padding-right: 20%;
  text-align: center;
}
.sale__wrap .sale__left .btn {
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  color: #373737;
  border-radius: 0;
  padding: 10px 30px;
  margin-top: 30px;
  border: 1px solid #587f9a;
}
.sale__wrap .sale__left h3 {
  text-align: left;
  font-family: "ProximaNovaBold";
  font-weight: bold;
  font-size: 3em;
  color: #192e38;
}
.sale__wrap .sale__left p {
  text-align: left;
  color: #fff;
  margin: 2em 0;
  line-height: 2em;
}
.sale__wrap .sale__right {
  width: 41.67%;
}
.sale__wrap .sale__right img {
  width: 100%;
  height: 100%;
}

.contact__form {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.contact__form .form__content {
  width: 91.67vw;
  text-align: center;
  width: 75%;
  max-width: 890px;
  margin: 0 auto;
}
.contact__form .form__pages {
  width: 8.33vw;
}
.contact__form .form__title {
  display: block;
  width: 100%;
  font-family: "ProximaNovaBold";
  font-size: 30px;
  margin: 30px auto;
  text-align: center;
}
.contact__form .form__desc {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  padding-left: 8.33vw;
}
.contact__form .form__labels {
  width: 80%;
  margin: 0 auto;
  padding-left: 8.33vw;
}
.contact__form .form__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #c0cacc;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 17px;
  outline: none;
}
.contact__form .form__btn {
  padding: 12px 65px;
  background: #44505e;
  color: #fff;
  border: none;
  display: inline-block;
  margin: 30px 0 60px;
  font-size: 18px;
}

footer {
  background: #192d37;
  display: flex;
  color: #fff;
  height: 100px;
}
footer .footer__left,
footer .footer__right {
  width: 8.33vw;
  float: left;
}
footer .footer__right {
  border-left: 2px solid #4e6572;
}
footer .footer__content {
  width: 83.34vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-right: 2px solid transparent;
}
footer .footer__content .logo {
  position: relative;
  bottom: -6px;
}
footer .slash-block {
  border-right: 2px solid #4e6572;
  background-image: linear-gradient(to bottom left, transparent 49%, #4e6572, transparent 51%);
  background-repeat: no-repeat;
}
footer .footer__contacts {
  text-align: right;
  margin-bottom: 9px;
  color: #4e6572;
  font-size: 17px;
}

.portfolio {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 8.33vw;
}
.portfolio .portfolio__title {
  display: grid;
  grid-template-columns: 8.33vw 1fr;
}
.portfolio .portfolio__title .empty {
  width: 8.33vw;
  border-right: 2px solid #c0cacc;
  border-bottom: 2px solid #c0cacc;
}
.portfolio .portfolio__title .section__title {
  padding-left: 0;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 2px solid #c0cacc;
}
.portfolio .portfolio__menu {
  display: grid;
  grid-template-columns: 8.33vw 1fr;
}
.portfolio .portfolio__menu .slash-block {
  width: 8.33vw;
  border-right: 2px solid #c0cacc;
  border-bottom: 2px solid #c0cacc;
  background-image: linear-gradient(to bottom left, transparent 50%, #4e6572, transparent 51%);
}
.portfolio .portfolio__menu .menu__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #c0cacc;
}
.portfolio .portfolio__menu .menu__list .menu__element {
  padding: 40px 0;
  border-right: 2px solid #c0cacc;
  font-size: 16px;
  width: 16.66%;
  text-align: center;
}
.portfolio .portfolio__menu .menu__list .menu__element:hover {
  font-weight: bold;
  cursor: pointer;
}
.portfolio .portfolio__menu .menu__list .menu__element:nth-child(6) {
  border-right: none;
}
.portfolio .portfolio__menu .menu__list .active {
  font-weight: bold;
}
.portfolio .portolio__main-container {
  display: grid;
  grid-template-columns: 8.33vw 1fr;
}
.portfolio .portolio__main-container .empty {
  width: 8.33vw;
  border-right: 2px solid #c0cacc;
}
.portfolio .portolio__main-container .main-container__wrap {
  width: 100%;
  display: block;
}
.portfolio .portolio__main-container .main-container__wrap .portfolio__aside-left {
  padding-right: 10px;
  width: 50%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  float: left;
}
.portfolio .portolio__main-container .main-container__wrap .portfolio__aside-left .a-block:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.portfolio .portolio__main-container .main-container__wrap .portfolio__aside-right {
  padding-left: 10px;
  width: 50%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  float: left;
}
.portfolio .portolio__main-container .main-container__wrap .portfolio__aside-right .a-block:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.portfolio .portolio__main-container .main-container__wrap img {
  width: 100%;
}
.portfolio .portolio__main-container .main-container__wrap .img__title {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.portfolio .portolio__main-container .main-container__wrap .box {
  background-color: red;
  padding-bottom: 100%;
  height: 0;
}
.portfolio .portolio__main-container .main-container__wrap .portfolio__slide {
  min-height: 30px;
}
.portfolio .portolio__main-container .bx-controls {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 100px;
}
.portfolio .portolio__main-container .bx-controls a {
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0;
}
.portfolio .portolio__main-container .bx-controls .bx-prev {
  background: #c2cccf;
}
.portfolio .portolio__main-container .bx-controls .bx-next {
  background: #434f5d;
}
.portfolio .portfolio__wrap {
  display: block;
  width: 100%;
}
.portfolio .portfolio__wrap:first-child {
  display: block;
}
.portfolio .portfolio_single-wrap:first-child {
  display: block;
}

.prices {
  background: #f6f2e6;
}
.prices .prices__top {
  height: 80px;
  display: grid;
  grid-template-columns: 8.33vw auto 8.33vw;
  border-bottom: 2px solid #c0cacc;
}
.prices .p-top__left {
  border-right: 2px solid #c0cacc;
}
.prices .p-top__right {
  border-left: 2px solid #c0cacc;
}
.prices .prices__content-wrap {
  display: grid;
  grid-template-columns: 1fr 8.33vw;
}
.prices .portfolio__title {
  display: grid;
  grid-template-columns: 8.33vw 1fr;
}
.prices .portfolio__title .empty {
  border-right: 2px solid #c0cacc;
}
.prices .section__title {
  position: relative;
  padding-top: 70px;
  padding-left: 0;
  padding-bottom: 40px;
}
.prices .section__title:before {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  top: -45px;
}
.prices .prices__blocks {
  display: grid;
  grid-template-columns: 8.33vw 1fr 1fr 1fr 1fr;
}
.prices .prices__blocks .slash-block {
  height: calc(8.33vw * 0.65);
  position: relative;
  border-bottom: 2px solid #c0cacc;
  border-top: 2px solid #c0cacc;
  background-image: linear-gradient(to bottom left, transparent 49%, #c0cacc, transparent 51%);
  background-repeat: no-repeat;
}
.prices .prices__blocks .price__block {
  border-left: 2px solid #c0cacc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #373737;
}
.prices .prices__blocks .price__block .p-block__title {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #c0cacc;
  border-top: 2px solid #c0cacc;
  height: calc(8.33vw * 0.65);
  line-height: calc(8.33vw * 0.65);
  font-size: 20px;
  font-weight: bold;
  color: #192d37;
}
.prices .prices__blocks .price__block:first-child {
  border-right: none;
  border-right: 2px solid #c0cacc;
}
.prices .prices__blocks .price__block:nth-child(2) {
  border-left: none;
}
.prices .prices__blocks .price__block .price-b__footer {
  margin-bottom: 60px;
  text-align: center;
}
.prices .prices__blocks .price__block .price-b__footer .price__value {
  font-weight: bold;
  font-size: 19px;
}
.prices .prices__blocks .price__block .price-b__footer .price__btn {
  padding: 15px 85px;
  padding: 4% 20%;
  background: #fff;
  border: 1px solid #587f9a;
  display: inline-block;
  margin-top: 25px;
  font-size: 18px;
}
.prices .prices__blocks .p-block__list {
  display: block;
  margin-bottom: 20px;
  padding: 25px 20px;
}
.prices .prices__blocks .p-list__element {
  display: block;
  margin-bottom: 10px;
}
.prices .prices__blocks .p-list__element b {
  color: #373737;
}
.prices .prices__descriptions {
  display: grid;
  grid-template-columns: 8.33vw 1fr 2fr 1fr;
}
.prices .prices__descriptions .desc_group {
  border-left: 2px solid #c0cacc;
  border-top: 2px solid #c0cacc;
  padding: 25px 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #373737;
}
.prices .prices__descriptions .desc_group:first-child {
  border-left: none;
  border-right: 2px solid #c0cacc;
}
.prices .prices__descriptions .desc_group:nth-child(2) {
  border-left: none;
}
.prices .price__block-mobile {
  display: none;
}
.prices .price__block-mobile-small {
  display: none;
}

@media (max-width: 1400px) {
  .steps__wrap {
    height: 95vh;
  }
}
@media (max-width: 1240px) {
  .steps__wrap {
    height: 85vh;
  }

  .steps__wrap .step__blocks .step__block {
    padding: 2%;
  }
  .steps__wrap .step__blocks .step__block .circle span {
    font-size: 1.2em;
  }
}
@media (max-width: 1024px) {
  .menu .menu__element {
    display: none;
  }

  .menu .menu__element-logo {
    display: block;
  }

  .description__wrap {
    padding-bottom: 30px;
    padding-left: 8.33vw;
  }

  .aboutme .aboutme__section-main .aboutme__left-block {
    width: 60%;
  }

  .aboutme .aboutme__section-main .aboutme__right-block {
    width: 40%;
    padding-top: 4em;
  }

  .sale__wrap .sale__left .sale__content {
    padding-right: 0;
  }

  .sale__wrap .sale__left {
    padding: 60px 40px;
  }

  .sale__wrap .sale__left p {
    margin: 1em 0;
  }

  .portfolio .portolio__main-container .main-container__wrap .portfolio__aside-left {
    grid-template-columns: 1fr;
  }
  .portfolio .portolio__main-container .main-container__wrap .portfolio__aside-left .a-block:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .portfolio .portolio__main-container .main-container__wrap .portfolio__aside-right {
    grid-template-columns: 1fr;
  }
  .portfolio .portolio__main-container .main-container__wrap .portfolio__aside-right .a-block:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .a-block__image {
    width: 100%;
    position: relative;
  }
  .a-block__image:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .a-block__image img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
  }

  .portfolio .portfolio__menu .menu__list .menu__element {
    padding: 20px 0;
    font-size: 13px;
    flex-grow: 1;
  }
  .portfolio .portfolio__menu .menu__list .menu__element:last-child {
    border-right: none;
  }

  .aboutme .box.aboutme__section-footer .slash-block {
    height: auto;
  }

  .aboutme .box.aboutme__section-footer .section-footer__element {
    font-size: 16px;
    padding: 10% 0;
  }

  .prices .prices__descriptions {
    grid-template-columns: 8.33vw 1fr;
  }

  .prices .prices__descriptions .desc_group:nth-child(2n+2) {
    display: none;
  }

  .prices .prices__descriptions .desc_group:nth-child(3) {
    border-left: none;
  }
}
@media (max-width: 960px) {
  .prices .prices__blocks {
    grid-template-columns: 8.33vw 1fr 1fr;
  }

  .prices .price__block-mobile {
    display: block;
    border-right: 2px solid #c0cacc;
  }

  .prices .prices__blocks .price__block:nth-child(5) {
    border-left: none;
  }

  .menu .menu__block-center .menu__element-logo {
    padding: 0 1em;
  }

  .steps__wrap .step__blocks .step__block {
    width: 50%;
    margin-top: 4em;
    padding: 2% 8%;
  }

  .steps__wrap .step__blocks {
    flex-wrap: wrap;
  }

  .steps__wrap {
    height: auto;
    padding-bottom: 30px;
  }

  .bx-wrapper .bx-controls-direction a {
    width: 80px;
    height: 50px;
  }

  .bx-wrapper .bx-prev {
    right: 80px;
  }

  footer .footer__content .logo {
    width: 70%;
  }
}
@media (max-width: 780px) {
  .header__slider .header-slider__description .header-slider__title {
    padding: 1em;
    font-size: 28px;
  }

  .section__title {
    font-size: 25px;
  }
  .section__title:before {
    margin: 20px auto;
    height: 60px;
  }

  .prices .section__title:before {
    top: -30px;
  }

  .aboutme .aboutme__section-main .aboutme__left-block {
    width: 100%;
    float: none;
  }

  .aboutme .aboutme__section-main .aboutme__right-block {
    width: 70%;
    float: none;
    margin: 0 auto;
  }

  .aboutme .aboutme__section-main .aboutme__left-block .aboutme__paragraph {
    line-height: 1.5em;
    font-size: 14px;
  }

  .aboutme .box.aboutme__section-footer .section-footer__element {
    font-size: 13px;
  }

  .portfolio .portfolio__menu .menu__list .menu__element {
    padding: 14px 0;
  }

  .sale__wrap .sale__left {
    padding: 30px 0px;
  }

  .sale__wrap .sale__left h3 {
    font-size: 2em;
  }

  .sale__wrap .sale__left p {
    line-height: 1.7em;
  }

  .sale__wrap .sale__left .btn {
    margin-top: 15px;
  }

  .prices .prices__blocks .price__block .p-block__title {
    font-size: 17px;
    padding: 1% 0;
    height: 8.33vw;
    line-height: 7.13vw;
  }

  .prices .prices__blocks .slash-block {
    height: 8.33vw;
  }

  .prices .section__title {
    padding-top: 55px;
  }
}
@media (max-width: 680px) {
  .sale__wrap {
    flex-wrap: wrap;
    text-align: center;
  }

  .sale__wrap .sale__left .sale__content {
    margin: 0;
    width: 100%;
    padding: 0 3%;
  }

  .sale__wrap .sale__left h3 {
    text-align: center;
  }
  .sale__wrap .sale__left p {
    text-align: center;
  }

  .sale__wrap .sale__left {
    width: 100%;
    float: none;
    display: block;
  }

  .sale__wrap .sale__right {
    float: none;
    width: 100%;
    display: block;
  }
  .sale__wrap .sale__right img {
    height: auto;
  }

  .prices .prices__blocks .price__block .price-b__footer .price__value {
    font-size: 17px;
  }

  .prices .prices__blocks .price__block .price-b__footer .price__btn {
    font-size: 16px;
  }

  .prices .prices__descriptions .desc_group {
    font-size: 14px;
    padding: 20px 0;
  }

  .aboutme .box.aboutme__section-footer .section-footer__element {
    font-size: 11px;
  }

  .aboutme .box.aboutme__section-footer .section-footer__element span {
    font-size: 26px;
  }

  .steps__wrap .step__blocks .step__block .circle span {
    font-size: 1.1em;
  }
}
@media (max-width: 580px) {
  .aboutme .box.aboutme__section-footer .section-footer__element {
    font-size: 10px;
  }

  .aboutme .box.aboutme__section-footer .section-footer__element span {
    font-size: 23px;
  }

  .section__title {
    font-size: 23px;
  }

  footer {
    height: auto;
  }

  footer .footer__content {
    padding: 13px 30px;
  }

  footer .footer__content .logo {
    width: 60%;
  }

  footer .footer__contacts {
    font-size: 14px;
  }

  .menu {
    grid-template-columns: 4fr 4fr 4fr;
  }

  .menu .menu__items .menu__element-contacts .element__paragraph {
    font-size: 10px;
  }
}
@media (max-width: 460px) {
  .menu__wraper {
    display: none;
  }

  .menu__wraper-mobile {
    display: grid;
    grid-template-columns: 16.33vw 1fr 16.33vw;
  }

  .page__pagers {
    display: none;
  }

  .header__slider,
.steps__wrap {
    grid-template-columns: 1fr;
  }

  .aboutme .aboutme__section-main {
    grid-column: 1/span 3;
  }

  .aboutme .aboutme__section-pagers {
    grid-column: 1/span 3;
  }

  .prices__pagers,
.portfolio__pagers {
    display: block;
  }
  .prices__pagers .pagers__wrap,
.portfolio__pagers .pagers__wrap {
    display: none;
  }

  .portfolio .portolio__main-container .main-container__wrap .portfolio__aside-left {
    width: 100%;
    padding-right: 0;
  }

  .portfolio .portolio__main-container .main-container__wrap .portfolio__aside-right {
    width: 100%;
    padding: 0;
  }

  .prices .price__block-mobile-small {
    display: block;
    border-right: 2px solid #c0cacc;
  }

  .prices .prices__blocks {
    grid-template-columns: 8.33vw 1fr;
  }

  .prices .prices__blocks .price__block:nth-child(4),
.prices .prices__blocks .price__block:nth-child(6),
.prices .prices__blocks .price__block:nth-child(8) {
    border-left: none;
  }

  .contact__form .form__title,
.contact__form .form__desc,
.contact__form .form__labels {
    padding-left: 0;
  }

  .steps__wrap .step__blocks .step__block {
    width: 100%;
  }

  .steps__wrap .section__title {
    padding-left: 0;
  }

  .slash-block-mobile {
    display: block;
  }

  .aboutme .box.aboutme__section-footer {
    grid-template-columns: 16.33vw 1fr 16.33vw;
  }

  .aboutme .aboutme__section-footer {
    grid-column: 1/span 3;
  }

  .slash-block-mobile:nth-child(4) {
    border-top: 2px solid #c0cacc;
  }

  .slash-block-mobile:nth-child(3),
.slash-block-mobile:nth-child(6),
.slash-block-mobile:nth-child(9) {
    border-left: 2px solid #c0cacc;
  }

  .section-footer__element {
    border-top: 2px solid #c0cacc;
  }

  .section-footer__element:nth-child(2) {
    border-top: none;
  }

  .contact__form .form__content {
    width: 85%;
  }

  .contact__form .form__title {
    font-size: 23px;
  }

  .contact__form .form__desc {
    font-size: 13px;
  }

  .contact__form .form__input {
    font-size: 13px;
  }

  footer .footer__content {
    flex-direction: column;
    text-align: center;
  }

  .form__policy {
    font-size: 10px;
    text-align: left;
  }

  .f_content-left {
    margin-bottom: 30px;
  }

  footer .footer__contacts {
    text-align: center;
  }

  footer .slash-block {
    background-image: none;
  }
}

/*# sourceMappingURL=style.css.map */
