<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/jquery.bxslider.css")
	link(rel="stylesheet", href="css/style.css")

	script(src="http://code.jquery.com/jquery-latest.js")
	//- script(src="js/bootstrap.min.js")

	script(src="js/jquery.bxslider.js")
	script(src="js/app.js")
body
	.wraper.container-fluid
		include ./templates/menu.jade
		include ./templates/header.jade
		
		.row
			.aboutme__wrap
				.aboutme
					.aboutme__section-main
						h2.section__title Обо мне

						.aboutme__left-block
							p.aboutme__paragraph 
								| Меня зовут Елена Ширяева. 
								b Я - дизайнер интерьера

							p.aboutme__paragraph У меня высшее профильное образование и я работаю в сегменте жилые интерьеры с 2015 года. Главными моими задачами являются создание уюта и единого стиля с учетом эргономики и функциональности, а также воплощение мечты в реальность.
							p.aboutme__paragraph Я получаю огромное удовольствие, когда вижу счастливые лица!

						.aboutme__right-block
							img(src="images/self.jpg", alt="self.jpg")


					.box.aboutme__section-pagers.page__pagers 
						.pagers__wrap
							span.pagers_number 02
							ul.pagers__list
								li.pager__element
								li.pager__element.active
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element

					.box.aboutme__section-footer
						.slash-block
						.section-footer__element 
							| Дизайн проект за 
							span 5 
							| дней
						.section-footer__element 
							| Более
							span 100
							| проектов
						.section-footer__element 
							span 5 
							| лет опыта


		.row
			.steps__wrap
				.steps__main
					h2.section__title Этапы дизайн проекта

					.step__blocks
						.step__block
							.circle
								span Выезд на объект и обмер
						.step__block
							.circle
								span Составление ТЗ
						.step__block
							.circle
								span Визуализация
						.step__block
							.circle
								span Чертеж, документация
						
				.steps__pages.page__pagers 
					.pagers__wrap
						span.pagers_number 03
						ul.pagers__list
							li.pager__element
							li.pager__element
							li.pager__element.active
							li.pager__element
							li.pager__element
							li.pager__element





		.row
			.portfolio
				.portfolio__content
					.portfolio__title
						.empty
						h2.section__title Релизованные проекты

					.portfolio__menu
						.slash-block
						ul.menu__list
							li.menu__element.active Комнаты
							li.menu__element Ванные
							li.menu__element Детские 
							li.menu__element Гостинные

					.portolio__main-container
						.empty
						.main-container__wrap
							#portfolio_1
								.portfolio__slide
									.portfolio__aside-left
										.a-block
											img(src="images/1.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/2.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/3.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/4.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/5.jpg")
											p.img__title Гостинная 45м2

									.portfolio__aside-right
										.a-block
											img(src="images/6.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/7.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/8.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/9.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/10.jpg")
											p.img__title Гостинная 45м2
								.portfolio__slide
									.portfolio__aside-left
										.a-block
											img(src="images/1.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/2.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/3.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/4.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/5.jpg")
											p.img__title Гостинная 45м2

									.portfolio__aside-right
										.a-block
											img(src="images/6.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/7.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/8.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/9.jpg")
											p.img__title Гостинная 45м2
										.a-block
											img(src="images/10.jpg")
											p.img__title Гостинная 45м2


				.portfolio__pagers.page__pagers 
					.pagers__wrap
						span.pagers_number 04
						ul.pagers__list
							li.pager__element
							li.pager__element
							li.pager__element
							li.pager__element.active
							li.pager__element
							li.pager__element



		.row
			.prices
				.prices__top
					.p-top__left
					.p-top__middle
					.p-top__right

				.prices__content-wrap
					.prices__content
						.portfolio__title
							.empty
							h2.section__title Стоимость работ

						.prices__blocks
							.price__block
								.slash-block

							.price__block
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element 
											b Обмерный план
										li.p-list__element 
											b Полный комплект рабочей документации
										li.p-list__element - план демонтажа
										li.p-list__element - план расстановки
										li.p-list__element - план розеток
										li.p-list__element - размещение освещения
										li.p-list__element - план полов
										li.p-list__element - план сантехники
										li.p-list__element - теплый пол
										li.p-list__element - развертки стен сан. узлов
										li.p-list__element - развертки стен с декоративными элементами
										li.p-list__element 
											b Визуализация

								.price-b__footer
									.price__value 2000 р/м2
									a(href="#").price__btn Заказать
									
							.price__block
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element 
											b Обмерный план
										li.p-list__element - план демонтажа
										li.p-list__element - план расстановки
										li.p-list__element - план розеток
										li.p-list__element - размещение освещения
										li.p-list__element - план полов
										li.p-list__element - план сантехники
										li.p-list__element - теплый пол
										li.p-list__element - развертки стен сан. узлов
										li.p-list__element - развертки стен с декоративными элементами

								.price-b__footer
									.price__value 1000 р/м2
									a(href="#").price__btn Заказать


							.price__block
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element
											b Ведомость материалов
										li.p-list__element
											b Ведомость мебели
										li.p-list__element
											b Ведомость светильников
										li.p-list__element
											b Ведомость сантехники

								.price-b__footer
									.price__value 200 р/м2
									a(href="#").price__btn Заказать

							.price__block
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element
											b До 4-х выезов на объект

								.price-b__footer
									.price__value 25000 р/м2
									a(href="#").price__btn Заказать


						ul.desc__list
							li.desc__elemen
								.prices__descriptions
									.desc_group
									.desc_group
									.desc_group Удаленная работа - 10% скидка
									.desc_group

						ul.desc__list
							li.desc__elemen
								.prices__descriptions
									.desc_group
									.desc_group
									.desc_group Выезд в пределах МКАД - бесплатно
									.desc_group

						ul.desc__list
							li.desc__elemen
								.prices__descriptions
									.desc_group
									.desc_group
									.desc_group Первичная консультация 1-3 часа
									.desc_group

					//- страницы
					.prices__pagers.page__pagers 
						.pagers__wrap
							span.pagers_number 05
							ul.pagers__list
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element.active
								li.pager__element





		.row
			.sale__wrap
				.sale__left
					.sale__content
						h3 Скидка 20%
						p Забронируйте видеозвонок, чтобы обсудить ваши потребности и познакомиться с нашей коллекцией виртуально. При желании вы можете показать нам ваше пространство. Но это вовсе не обязательно.

						a.btn Забронирорвать

				.sale__right
					img(src="images/sale.jpg", alt="sale.jpg")



		.row 
			.contact__form 
				.form__content
					h4.form__title.section__title Как начать работу?

					p.form__desc Если вы хотите рассчитать стоимость вашего дизайн-проекта, свяжитесь, пожалуйста, с нами любым удобным для вас способом

					.form__labels
						input(placeholder="Ваше имя").form__input
						input(placeholder="Номер телефона").form__input
						input(placeholder="E-mail").form__input

						p.form__policy Мы не передаем данные третьим лицам. Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
						input(type="submit", value="Отправить").form__btn


				.form__pages.page__pagers 
					.pagers__wrap
							span.pagers_number 09
							ul.pagers__list
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element.active



	



		.row
			footer 
				.footer__left.slash-block
				.footer__content 
					.f_content-left 
						img.logo(src="images/logo2.png", alt="logo2.png")
					.f_content-right
						p.footer__contacts +7 (978) 101-50-54
						p.footer__contacts design@hiriaeva.com

				.footer__right

		//- include ./templates/footer.jade
