<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/jquery.bxslider.css")
	link(rel="stylesheet", href="css/lightzoom.css")
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/animate.css")

	script(src="http://code.jquery.com/jquery-latest.js")
	//- script(src="js/bootstrap.min.js")

	script(src="js/lightzoom.js")
	script(src="js/wow.min.js")
	script(src="js/jquery.bxslider.js")
	script(src="js/app.js")
body
	.wraper.container-fluid
		include ./templates/menu.jade
		include ./templates/header.jade
		
		.row
			.aboutme__wrap#aboutme
				.aboutme
					.aboutme__section-main.wow.pulse(data-wow-duration="1s",  data-wow-offset="120")
						h2.section__title Обо мне

						.aboutme__left-block
							p.aboutme__paragraph 
								| Меня зовут Елена Ширяева. 
								b Я - дизайнер интерьера

							p.aboutme__paragraph У меня высшее профильное образование и я работаю в сегменте жилые интерьеры с 2015 года. Главными моими задачами являются создание уюта и единого стиля с учетом эргономики и функциональности, а также воплощение мечты в реальность.
							p.aboutme__paragraph Я получаю огромное удовольствие, когда вижу счастливые лица!

						.aboutme__right-block
							img(src="images/self.jpg", alt="self.jpg")


					.box.aboutme__section-pagers.page__pagers.wow.fadeInRight
						.pagers__wrap
							span.pagers_number 02
							ul.pagers__list
								li.pager__element
								li.pager__element.active
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element

					.box.aboutme__section-footer.wow.flipInX
						.slash-block
						.section-footer__element 
							| Дизайн проект за 
							span 5 
							| дней
						.slash-block-mobile
						.slash-block-mobile
						.section-footer__element 
							| Более
							span 100
							| проектов
						.slash-block-mobile
						.slash-block-mobile
						.section-footer__element 
							span 5 
							| лет опыта
						.slash-block-mobile


		.row
			.steps__wrap#projects
				.steps__main
					h2.section__title Этапы дизайн проекта

					.step__blocks
						.step__block.wow.fadeInLeft(data-wow-delay="0.7s", data-wow-offset="120")
							.circle
								span Выезд на объект и обмер
						.step__block.wow.fadeInLeft(data-wow-delay="0.3s", data-wow-offset="120")
							.circle
								span Составление ТЗ
						.step__block.wow.fadeInRight(data-wow-delay="0.3s", data-wow-offset="120")
							.circle
								span Визуализация
						.step__block.wow.fadeInRight(data-wow-delay="0.7s", data-wow-offset="120")
							.circle
								span Чертеж, документация
						
				.steps__pages.page__pagers.wow.fadeInRight(data-wow-delay="1s")
					.pagers__wrap
						span.pagers_number 03
						ul.pagers__list
							li.pager__element
							li.pager__element
							li.pager__element.active
							li.pager__element
							li.pager__element
							li.pager__element





		.row
			.portfolio#portfolio
				.portfolio__content
					.portfolio__title
						.empty
						h2.section__title.wow.flipInX Реализованные проекты

					.portfolio__menu
						.slash-block
						.portfolio__mobile-helper
						ul.menu__list
							li(data-el_id="portfolio_1").menu__element.active Комнаты
							li(data-el_id="portfolio_2").menu__element Ванные
							li(data-el_id="portfolio_3").menu__element Детские 
							li(data-el_id="portfolio_4").menu__element Гостинные

					.portolio__main-container
						.empty
						.main-container__wrap
							#portfolio_1.portfolio_single-wrap
								.portfolio__wrap
									.portfolio__slide
										.portfolio__aside-left
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
									.portfolio__slide
										.portfolio__aside-left
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block.wow.fadeIn
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
							#portfolio_2.portfolio_single-wrap
								.portfolio__wrap
									.portfolio__slide
										.portfolio__aside-left
											.a-block
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная
											.a-block
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
									.portfolio__slide
										.portfolio__aside-left
											.a-block
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
							#portfolio_3.portfolio_single-wrap
								.portfolio__wrap
									.portfolio__slide
										.portfolio__aside-left
											.a-block
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная
											.a-block
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
									.portfolio__slide
										.portfolio__aside-left
											.a-block
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
							#portfolio_4.portfolio_single-wrap
								.portfolio__wrap
									.portfolio__slide
										.portfolio__aside-left
											.a-block
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
									.portfolio__slide
										.portfolio__aside-left
											.a-block
												.a-block__image
													a.lightzoom(href="images/1.jpg")
														img(src="images/1.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/2.jpg")
														img(src="images/2.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/3.jpg")
														img(src="images/3.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/4.jpg")
														img(src="images/4.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/5.jpg")
														img(src="images/5.jpg")
												p.img__title Гостинная 45м2

										.portfolio__aside-right
											.a-block
												.a-block__image
													a.lightzoom(href="images/6.jpg")
														img(src="images/6.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/7.jpg")
														img(src="images/7.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/8.jpg")
														img(src="images/8.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/9.jpg")
														img(src="images/9.jpg")
												p.img__title Гостинная 45м2
											.a-block
												.a-block__image
													a.lightzoom(href="images/10.jpg")
														img(src="images/10.jpg")
												p.img__title Гостинная 45м2
				.portfolio__pagers.page__pagers.wow.fadeInRight
					.pagers__wrap
						span.pagers_number 04
						ul.pagers__list
							li.pager__element
							li.pager__element
							li.pager__element
							li.pager__element.active
							li.pager__element
							li.pager__element



		.row
			.prices#prices
				.prices__top
					.p-top__left
					.p-top__middle
					.p-top__right

				.prices__content-wrap
					.prices__content
						.portfolio__title
							.empty
							h2.section__title Стоимость работ

						.prices__blocks
							.price__block
								.slash-block

							.price__block.wow.flipInY
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element 
											b Обмерный план
										li.p-list__element 
											b Полный комплект рабочей документации
										li.p-list__element - план демонтажа
										li.p-list__element - план расстановки
										li.p-list__element - план розеток
										li.p-list__element - размещение освещения
										li.p-list__element - план полов
										li.p-list__element - план сантехники
										li.p-list__element - теплый пол
										li.p-list__element - развертки стен сан. узлов
										li.p-list__element - развертки стен с декоративными элементами
										li.p-list__element 
											b Визуализация

								.price-b__footer
									.price__value 2000 р/м2
									a(href="#").price__btn Заказать
							
							.price__block-mobile-small
								.slash-block

							.price__block.wow.flipInY
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element 
											b Обмерный план
										li.p-list__element - план демонтажа
										li.p-list__element - план расстановки
										li.p-list__element - план розеток
										li.p-list__element - размещение освещения
										li.p-list__element - план полов
										li.p-list__element - план сантехники
										li.p-list__element - теплый пол
										li.p-list__element - развертки стен сан. узлов
										li.p-list__element - развертки стен с декоративными элементами

								.price-b__footer
									.price__value 1000 р/м2
									a(href="#").price__btn Заказать

							.price__block-mobile
								.slash-block

							.price__block.wow.flipInY
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element
											b Ведомость материалов
										li.p-list__element
											b Ведомость мебели
										li.p-list__element
											b Ведомость светильников
										li.p-list__element
											b Ведомость сантехники

								.price-b__footer
									.price__value 200 р/м2
									a(href="#").price__btn Заказать

							.price__block-mobile-small
								.slash-block

							.price__block.wow.flipInY
								.price-b__main
									h5.p-block__title Дизайн-проект
									ul.p-block__list
										li.p-list__element
											b До 4-х выезов на объект

								.price-b__footer
									.price__value 25000 р/м2
									a(href="#").price__btn Заказать


						ul.desc__list
							li.desc__elemen
								.prices__descriptions
									.desc_group.wow.fadeInLeft
									.desc_group.wow.fadeInLeft
									.desc_group.wow.fadeInLeft Удаленная работа - 10% скидка
									.desc_group.wow.fadeInLeft

						ul.desc__list
							li.desc__elemen
								.prices__descriptions
									.desc_group.wow.fadeInRight
									.desc_group.wow.fadeInRight
									.desc_group.wow.fadeInRight Выезд в пределах МКАД - бесплатно
									.desc_group.wow.fadeInRight

						ul.desc__list
							li.desc__elemen
								.prices__descriptions
									.desc_group.wow.fadeInLeft(data-wow-delay="0.5s")
									.desc_group.wow.fadeInLeft(data-wow-delay="0.5s")
									.desc_group.wow.fadeInLeft(data-wow-delay="0.5s") Первичная консультация 1-3 часа
									.desc_group.wow.fadeInLeft(data-wow-delay="0.5s")

					//- страницы
					.prices__pagers.page__pagers.wow.fadeInRight
						.pagers__wrap
							span.pagers_number 05
							ul.pagers__list
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element.active
								li.pager__element





		.row
			.sale__wrap
				.sale__left.wow.fadeInLeft
					.sale__content
						h3 Скидка 20%
						p Забронируйте видеозвонок, чтобы обсудить ваши потребности и познакомиться с нашей коллекцией виртуально. При желании вы можете показать нам ваше пространство. Но это вовсе не обязательно.

						a.btn Забронирорвать

				.sale__right.wow.fadeInRight
					img(src="images/sale.jpg", alt="sale.jpg")



		.row 
			.contact__form#contatct
				.form__content.wow.swing(data-wow-duration="2s")
					h4.form__title.section__title Как начать работу?

					p.form__desc Если вы хотите рассчитать стоимость вашего дизайн-проекта, свяжитесь, пожалуйста, с нами любым удобным для вас способом

					.form__labels
						input(placeholder="Ваше имя").form__input
						input(placeholder="Номер телефона").form__input
						input(placeholder="E-mail").form__input

						p.form__policy Мы не передаем данные третьим лицам. Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
						input(type="submit", value="Отправить").form__btn


				.form__pages.page__pagers.wow.fadeInRight
					.pagers__wrap
							span.pagers_number 06
							ul.pagers__list
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element
								li.pager__element.active



	



		.row
			footer 
				.footer__left.slash-block
				.footer__content 
					.f_content-left 
						img.logo(src="images/logo2.png", alt="logo2.png")
					.f_content-right
						p.footer__contacts +7 (978) 101-50-54
						p.footer__contacts design@hiriaeva.com

				.footer__right

		//- include ./templates/footer.jade
