

.row
	.header__slider
		.slider__wrap
			.slider1
				img(src="images/slider1.jpg", alt="s1.jpg")
				img(src="images/slider1.jpg", alt="s1.jpg")
				img(src="images/slider1.jpg", alt="s1.jpg")

		.header-slider__description
			.description__wrap
				h1.header-slider__title &#8212; Доступнные решения для лучщей жизни
				a.btn.header-slider__btn(href="#") Обсудить проект
		
		.page__pagers 
			.pagers__wrap
				span.pagers_number 01
				ul.pagers__list
					li.pager__element.active
					li.pager__element
					li.pager__element
					li.pager__element
					li.pager__element
					li.pager__element