.row
	.menu__wraper
		menu.menu
			.menu__block-left
				.menu__block-row
					.square
					.menu__items
						.menu__element
							a(href="#") Обо мне
						.menu__element.menu__element-two 
							a(href="#") Этапы проекта
						.menu__element 
							a(href="#") Портфолио

				.menu__block-row
					.slash-block
					.empty-block

			.menu__block-center
				.menu__element.menu__element-logo
					a(href="#")
						img.logo(src="images/logo.png", alt="logo.png")

			.menu__block-right
				.menu__block-row
					.menu__items
						.menu__element 
							a(href="#") Цены
						.menu__element 
							a(href="#") Контакты
						.menu__element.menu__element-contacts
							p.element__paragraph +7 (985) 101-50-54
							p.element__paragraph design@shiraeva.com
				
					.square.instagram__wrap
						img.menu_instagram(src="images/social-network.svg", alt="social-network.svg")

				.menu__block-row
					.empty-block
					.slash-block
